body{font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.orange-color{
   color: orange; 
}
.violate{
    color: orchid;
}
.jui{
    color: cornflowerblue;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.iju{
    width: 50%;
    padding-left: 10%;
}
.iju img{
    100%
}
.link-button{
    text-decoration:none ;
    background-image: linear-gradient(rgb(85, 85, 126), rgb(168, 68, 152));
    padding: 5px 30px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(circles/top-banner.png);
    background-repeat: no-repeat;
}
.web{
    color: cyan;
}
.dream-big{
    background-image: url(circles/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image:url(circles/exp-bg.png) ;
    background-repeat: no-repeat;
    background-position:left;
}
.experience-item{
    width: 70%;
    margin-left: 20%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;   
    box-shadow: 10px 10px 40px gray;
}
#we-dev-experience{
    border-left: 7px solid;
    background-image: linear-gradient(salmon tomato);
    border: image slice 1px;
}
    
#full-stack-experience{
    border-left:7px solid ;
    background-image: linear-gradient(blue cyan);
    border-image-slice: 2;
}
footer p{
    text-align: center;
}

